footer {
  background-color: var(--bg-secondary);
  padding: 16px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  transition: background-color 0.3s ease;
}

footer span {
  font-size: 0.8em;
  font-weight: 200;
  color: var(--text-secondary);
}